
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_CLIENT_EMAIL=
GOOGLE_CLOUD_PRIVATE_KEY=


FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=


STORAGE_BUCKET=


GEMINI_MODEL=
VERTEX_LOCATION=
VERTEX_API_ENDPOINT=


SSD_SUBMISSIONS_COLLECTION=
SSD_PROBLEMS_COLLECTION=
